<!doctype html>
<title>Recipe Transformer</title>
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="static/css/style.css">
     	<script type="text/javascript" src="static/js/jquery.js"></script>
     	<script type="text/javascript" src="static/js/button.js"></script>
     	<script type="text/javascript" src="static/js/foundation.min.js"></script>

	</head>

	<body>
	{% block body %}

	{% endblock %}
	</body>
	<script>
		$(document).foundation();
	</script>
</html>