{% extends "layout.html" %}
{% import 'recipe_partial.html' as partial %}			

{% block body %}

<div id="whole_page">
	<div class ="header">
	<h1>Recipe Transformer</h1>
	</div>
	<form action="/urlForm">
		Enter Recipe URL: <input type="text" name="url">
		<input type="submit" value="Submit">
	</form>

	{% if recipe %}
		<h2>Transformation</h2>
		<button class="button veg" id="vegetarian">Vegetarian</button>
		<button class="button veg" id="pescatarian">Pescatarian</button>
		<button class="button health" id="low_fat">Low Fat</button>
		<button class="button cuisine" id="italian">Italian</button>
		<button class="button cuisine" id="mexican">Mexican</button>
		<button class="button cuisine" id="asian">Asian</button>
		<button class="button cuisine" id="american">American</button>
		<button class="button cuisine" id="mediterranean">Mediterranean</button>
		<button class="button cuisine" id="french">French</button>

		<h3>{{recipe.name}}</h3>
		<p>recipe from: {{recipe.url}} </p>
		<h4>Cusisine: {{recipe.cuisine}} </h4>
		<div class="recipe">
			<h3> Original Recipe </h3>
			{{ partial.populate(recipe) }}
		</div>
		{% if new_recipe %}
		<div class="recipe">
			<h3> New Recipe </h3>
			{{ partial.populate(new_recipe) }}
		</div>
		{% endif %}

	{% endif %}
</div>

{% endblock %}