{% extends "layout.html" %}
{% block body %}

<h1>Recipe Transformer</h1>
<form action="/urlForm">
	Enter Receipe URL: <input type="text" name="url">
	<input type="submit" value="Submit">
</form>

{% if recipe %}
	<p>recipe from: {{recipe.link}} </p>
	<h3>{{recipe.name}}</h3>
	<div class="ingredients">
		<h4>Ingredients</h4>
		{% for i in recipe.ingredients %}
			<li class="ingredient">
				{{i.name}}: {{i.amount}}
			</li>
		{% endfor %}
	</div>
	<div class="tools">
		<h4>Tools</h4>
		{% for t in recipe.tools %}
			<li class="tool">
				{{t}}
			</li>
		{% endfor %}
	</div>
	<div class="methods">
		<h4>Methods</h4>
		<h5>Primary Method</h5>
		{{recipe.primary_method}}
		<h5>Secondary Method</h5>
		{% for m in recipe.secondary_methods %}
			<li>{{m}}</li> 
		{% endfor %}
	</div>
	<h2>Transformation</h2>
	<button class="button" id="vegetarian">Vegetarian</button>

{% endif %}


{% endblock %}