{% macro populate(recipe) %}
<div class="ingredients">
	<h4>Ingredients</h4>
	{% for i in recipe.ingredients %}
		<li class="ingredient">
			{{i.name}}: {{i.quantity}}
		</li>
	{% endfor %}
</div>
<div class="tools">
	<h4>Tools</h4>
	{% for t in recipe["cooking tools"] %}
		<li class="tool">
			{{t}}
		</li>
	{% endfor %}
</div>
<div class="methods">
	<h4>Methods</h4>
	Primary Method:	{{recipe["primary cooking method"]}}<br>
	Secondary Method: 
	{% for m in recipe["cooking methods"] %}
		{{m}} /   
	{% endfor %}
</div>
{% endmacro %}